<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tea.mapper.ProductMapper">

    <resultMap type="Product" id="ProductResultMap">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="shopId" column="shop_id"/>
        <result property="productImage" column="product_image"/>
    </resultMap>

    <!-- 获取所有商品 -->
    <select id="getAllProducts" resultMap="ProductResultMap">
        SELECT * FROM tos_product
    </select>

    <!-- 根据商品ID获取商品信息 -->
    <select id="getProductById" parameterType="long" resultMap="ProductResultMap">
        SELECT * FROM tos_product WHERE product_id = #{productId}
    </select>

    <!-- 根据商品ID获取商品信息 -->
    <select id="getProductsByShopId" parameterType="long" resultMap="ProductResultMap">
        SELECT * FROM tos_product WHERE shop_id = #{shopId}
    </select>

    <!-- 添加商品 -->
    <insert id="addProduct" parameterType="Product">
        INSERT INTO tos_product (product_name, description, price, product_image, shop_id)
        VALUES (#{productName}, #{description}, #{price}, #{productImage}, #{shopId})
    </insert>

    <!-- 更新商品信息 -->
    <update id="updateProduct" parameterType="Product">
        UPDATE tos_product SET product_name = #{productName}, description = #{description},
                               price = #{price}, shop_id = #{shopId}, product_image = #{productImage}
        WHERE product_id = #{productId}
    </update>

    <!-- 删除商品 -->
    <delete id="deleteProduct" parameterType="Long">
        DELETE FROM tos_product WHERE product_id = #{productId}
    </delete>

    <!-- 根据店铺ID删除商品 -->
    <delete id="deleteProductByShopId" parameterType="Long">
        DELETE FROM tos_product WHERE shop_id = #{shopId}
    </delete>

</mapper>
