<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tea.mapper.RecordMapper">

    <resultMap type="com.ruoyi.tea.domain.Record" id="RecordResultMap">
        <id property="recordId" column="record_id"/>
        <result property="productId" column="product_id"/>
        <result property="userId" column="user_id"/>
        <result property="shopId" column="shop_id"/>
        <result property="transactionAmount" column="transaction_amount"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="transactionTime" column="transaction_time"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <!-- 根据用户ID查询订单 -->
    <select id="getRecordsByUserId" parameterType="Long" resultMap="RecordResultMap">
        SELECT * FROM tos_record WHERE user_id = #{userId}
    </select>

    <!-- 查询全部订单 -->
    <select id="getAllRecords" resultMap="RecordResultMap">
        SELECT * FROM tos_record
    </select>

    <!-- 添加交易记录 -->
    <insert id="addBalanceRecord" parameterType="Record">
        INSERT INTO tos_record (product_id, user_id, shop_id, transaction_amount, transaction_type, transaction_time, balance)
        VALUES (#{productId}, #{userId}, #{shopId}, #{transactionAmount}, #{transactionType}, #{transactionTime}, #{balance})
    </insert>

    <!-- 删除交易记录 -->
    <delete id="deleteBalanceRecord" parameterType="Long">
        DELETE FROM tos_record WHERE record_id = #{recordId}
    </delete>

    <!-- 根据记录ID查询交易记录信息 -->
    <select id="getBalanceRecordById" parameterType="Long" resultMap="RecordResultMap">
        SELECT * FROM tos_record WHERE record_id = #{recordId}
    </select>

</mapper>
